#card{
    cursor: pointer;
    border-radius: 1rem;
    margin: 15px 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#card:hover{
    outline: 8px outset rgba(28, 77, 255, 0.723);
    border-radius: 1rem;
}

#card>img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-title{
    font-size: 19px;
}

.card-text{
    font-size: 14px;
    line-height: 20px;
}

.card-text2{
    background-color: rgba(248, 246, 246, 0.803);
    font-size: 13px;
}

#badge{
    color: rgb(0, 0, 0);
}